{% extends 'polls/Navbar.html' %}

{% block title %} Новости {% endblock %}

{% block head %}
    {% load static %}
    <link href="{% static 'polls/css/newsPageView.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'polls/js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'polls/js/fa.js' %}"></script>


{% endblock %}

{% block body %}
    <body id="transition_disabled">
    <div class = 'bg'></div>
        <div class = 'newsPage-View'>
			<span class = 'newsPageTitle'>Новости </span>

            <div id = 'AllNews'>
            {% if tasks  %}
                {% for el in tasks %}
                    <div class = 'mainNewsBlock'>
                        <h3>{{ el.title }}</h3>
                        <p>{{ el.task }}</p>
                        <img class = 'news' src="{{ el.img.url }}" alt="{{ el.title }}">
                        <div class = 'userActivity'>
                            <button class = 'userActivity_buttons fa fa-heart-o LikeBtn'></button>
                            <span>лаеккккк</span>
                        </div>
                        <div class = 'userActivity'>
                            <button class = 'userActivity_buttons fa fa-comment-o'></button>
                            <span>каменты ыы</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
    {% else %}
        <h4>У нас нет записей</h4>
    {% endif %}
        </div>
    <script type="text/javascript" src="{% static 'polls/js/newsView.js' %}"></script>
    <script type="text/javascript" src="{% static 'polls/js/main.js' %}"></script>
    </body>
{% endblock %}